<%- include('../partials/header.ejs') -%>
    <%- include('../partials/navbaradmin.ejs') -%>

            <div class="container">
                <div class="card mt-4">
                    <div class="card-header">
                        <h2>Informe os dados do docente:</h2>
                    </div>
                    <div class="card-body">
                        <form action="/docente/update" method="post">
                            <label class="form-label">Nome do Docente: </label>
                            <hr>
                            <input  type="hidden" name="id" value="<%= docente.id%>">
                            <input class="form-control" type="text" name="nome" value="<%= docente.nome%>"
                                placeholder="Digite aqui o nome do docente" readonly>
                            <br>
                            <div class="row g3 mb-3">
                                <div class="col md-6">
                                    <label class="form-label">SIAPE: </label>
                                    <input class="form-control mb-3" type="text" name="siape" value="<%= docente.siape%>"
                                        placeholder="Digite aqui o número SIAPE" readonly>
                                </div>
                                <div class="col md-6">
                                    <label class="form-label">Email: </label>
                                    <input class="form-control" type="email" name="email" value="<%= docente.email%>"
                                        placeholder="exemplo@exemplo.com">
                                </div>
                            </div>
                            <div class="row g3">
                                <div class="col md-4">
                                    <label class="form-label">Digite a sua antiga senha: </label>
                                    <input class="form-control" type="password" name="senhaantiga" placeholder="********">
                                </div>
                                <div class="col md-4">
                                    <label class="form-label">Digite a sua nova senha: </label>
                                    <input class="form-control" type="password" name="senha1" placeholder="********">
                                </div>
                                <div class="col md-4">
                                    <label class="form-label">Confirme a sua nova Senha: </label>
                                    <input class="form-control" type="password" name="senha2" placeholder="********">
                                </div>                                
                            </div>
                            <div class="row g3 mt-4">
                                <div class="col md-4">
                                    <label class="form-label">Regime de Trabalho: </label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="<%= docente.regime%>" readonly>
                                    </div>
                                </div>
                                <div class="col md-4">
                                    <label class="form-label">Coordenação: </label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="<%= docente.coordenacao.nome%>" readonly>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-success">Atualizar</button>
                            <a class="btn btn-primary" href="/planotrabalho/index">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>

        <%- include('../partials/footer.ejs') -%>