<%- include('../../partials/header.ejs') -%>
    <%- include('../../partials/navbaradmin.ejs') -%>

            <div class="container">
                <br>
                <h2>Docentes Cadastrados:</h2>
                <hr>
                <a class="btn btn-success" href="/admin/docente/create">Cadastrar Docente</a>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>SIAPE</th>
                            <th>E-mail</th>
                            <th>Regime</th>
                            <th>Coordenação</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% docentes.forEach(docente => { %>
                            <tr>
                                <th> <%= docente.id %></th>
                                <th> <%= docente.nome %></th>
                                <th> <%= docente.siape %></th>
                                <th> <%= docente.email %></th>
                                <th> <%= docente.regime %></th>
                                <th> <%- docente.coordenacao.nome %></th>
                                <th>
                                    <a class=" btn btn-warning" href="/admin/docente/edit/<%= docente.id %>">Editar</a>
                                    <form action="/admin/docente/delete" method="post" onsubmit="confirmarDelecao(event,this)">
                                        <input type="hidden" name="id" value="<%= docente.id %>">
                                        <button class="btn btn-danger">Deletar</button>
                                    </form>
                                </th>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

        <%- include('../../partials/footer.ejs') -%>

        <script>
            function confirmarDelecao(event, form) {
                event.preventDefault();
                var decision = confirm("Você deseja deletar o registro?");
                if (decision) { form.submit(); }
            }
        </script>