<%- include('../partials/header.ejs') -%>
    <% if(docente.admin===1) {%>
        <%- include('../partials/navbaradmin.ejs') -%>
            <%} else{%>
                <%- include('../partials/navbar.ejs') -%>
                    <% } %>

                        <body>
                            <div class="container">
                                <div class="card mt-4">
                                    <div class="card-header">
                                        <h2>Informe os Dados do Plano de Trabalho Individual:</h2>
                                    </div>
                                    <div class="card-body">
                                        <form action="/planotrabalho/create" method="post"
                                            enctype="multipart/form-data">
                                            <input type="hidden" value="<%= plano.id %>" name="planoId">
                                            <label class="form-label">Nome do Docente: </label>
                                            <hr>
                                            <input class="form-control" type="hidden" name="docenteId"
                                                value="<%= docente.id %>" readonly>
                                            <input class="form-control" type="text" value="<%= docente.nome %>"
                                                readonly>
                                            <br>
                                            <div class="row g3 mb-3">
                                                <div class="col md-4">
                                                    <label class="form-label">Ano: </label>
                                                    <select class="form-select" name="ano" required>
                                                        <option value="">Escolha o ano...</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                    </select>
                                                </div>
                                                <div class="col md-4">
                                                    <label class="form-label">Semestre: </label>
                                                    <select class="form-select" name="semestre" required>
                                                        <option value="">Escolha o ano...</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                    </select>
                                                </div>
                                                <div class="col md-4">
                                                    <label class="form-label">Grupo: </label>
                                                    <select class="form-select" name="grupo" required>
                                                        <option value="">Escolha o grupo...</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row g3">
                                                <div class="col md-8">
                                                    <label class="form-label">Disciplinas: </label>
                                                    <select class="form-select" id="listaDisciplina" required>
                                                        <option value="">Escolha...</option>
                                                        <% disciplinas.forEach(disciplina=> { %>
                                                            <option value="<%= disciplina.id %>">
                                                                <%= disciplina.nome %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                                <div class="col md-8 mt-4">
                                                    <label class="form-label"></label>
                                                    <a class="btn btn-success" type="button" id="buttonAdd"
                                                        onclick="addOnComboList()">Adicionar</a>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered mt-4" id="itensSelecionados">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Disciplina</th>
                                                            <th>CH Aula</th>
                                                            <th>CH Relógio</th>
                                                            <th>Tipo</th>
                                                            <th>Ação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr>
                                            <div class="row g3">
                                                <div class="col md-8">
                                                    <label class="form-label">Projetos de Extensão: </label>
                                                    <select class="form-select" id="listaExtensao">
                                                        <option value="">Escolha...</option>
                                                        <% extensoes.forEach(extensao=> { %>
                                                            <option value="<%= extensao.id %>">
                                                                <%= extensao.id %>
                                                                    <%= extensao.titulo %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                                <div class="col md-8 mt-4">
                                                    <label class="form-label"></label>
                                                    <a class="btn btn-success" type="button" id="buttonAddEx"
                                                        onclick="addOnComboListEx()">Adicionar</a>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered mt-4" id="itensSelecionadosEx">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Título</th>
                                                            <th>Coordenador(a)</th>
                                                            <th>Ano Início</th>
                                                            <th>Ano Término</th>
                                                            <th>Renovação</th>
                                                            <th>CH</th>
                                                            <th>Ação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr>
                                            <div class="row g3">
                                                <div class="col md-8">
                                                    <label class="form-label">Projetos de Pesquisa: </label>
                                                    <select class="form-select" id="listaPesquisa">
                                                        <option value="">Escolha...</option>
                                                        <% pesquisas.forEach(pesquisa=> { %>
                                                            <option value="<%= pesquisa.id %>">
                                                                <%= pesquisa.id %>
                                                                    <%= pesquisa.titulo %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                                <div class="col md-8 mt-4">
                                                    <label class="form-label"></label>
                                                    <a class="btn btn-success" type="button" id="buttonAddPes"
                                                        onclick="addOnComboListPes()">Adicionar</a>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered mt-4" id="itensSelecionadosPes">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Título</th>
                                                            <th>Coordenador(a)</th>
                                                            <th>Ano Início</th>
                                                            <th>Ano Término</th>
                                                            <th>Renovação</th>
                                                            <th>CH</th>
                                                            <th>Ação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr>
                                            <label class="form-label">Observações: </label>
                                            <textarea class="form-control" name="observacoes"
                                                placeholder="Insira as observações do seu plano"
                                                id="article"></textarea>
                                            <br>
                                            <label class="form-label" for="customFile">Anexe o documento comprobatório:
                                            </label>
                                            <input type="file" class="form-control" name="customFile" accept=".pdf"
                                                required />
                                            <br>
                                            <input class="btn btn-success" type="submit" value="Cadastrar">
                                            <a class="btn btn-primary" href="/planotrabalho/index">Voltar</a>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </body>

                        <%- include('../partials/footer.ejs') -%>

                            <script src="/tinymce/tinymce.min.js"></script>
                            <script>
                                tinymce.init({
                                    language: 'pt_BR',
                                    selector: "#article",
                                    plugins: [
                                        'advlist autolink link image lists print preview hr searchreplace wordcount fullscream insertdatetime media save table paste emoticons'
                                    ]
                                });
                            </script>

                            <script>
                                function addOnComboList() {
                                    var disciplinesLocal = [];
                                    var discipline;
                                    
                            <% disciplinas.forEach(disciplina => { %>
                                        discipline = {
                                            "id": "<%= disciplina.id %>",
                                                "nome": "<%= disciplina.nome %>",
                                                    "chaula": "<%= disciplina.cargaHorariaAula %>",
                                                        "chrelogio": "<%= disciplina.cargaHorariaRelogio %>",
                                                            "tipo": "<%= disciplina.tipo %>",
                                }
                                        disciplinesLocal.unshift(discipline);
                            <% }) %>
                            var el = document.getElementById("listaDisciplina");
                                    var tabela = document.getElementById("itensSelecionados").getElementsByTagName('tbody')[0];
                                    if (!containItemTabela(el.value)) {
                                        disciplinesLocal.forEach(d => {
                                            if (d.id === el.value) {
                                                var row = tabela.insertRow(0);
                                                row.setAttribute("name", "selecaodisciplinas");
                                                row.setAttribute("value", d.id);
                                                row.setAttribute("type", "input");
                                                var cellId = row.insertCell(0);
                                                var cellNome = row.insertCell(1);
                                                var cellAula = row.insertCell(2);
                                                var cellRelogio = row.insertCell(3);
                                                var cellTipo = row.insertCell(4);
                                                var cellOpcao = row.insertCell(5);
                                                var cellHidden = row.insertCell(6);
                                                var deleteLink = document.createElement("a");
                                                var input = document.createElement("input");
                                                input.setAttribute("name", "selecaodisciplinas");
                                                input.setAttribute("value", d.id);
                                                input.setAttribute("type", "hidden");
                                                deleteLink.setAttribute('class', "btn btn-danger");
                                                deleteLink.setAttribute('id', d.id);
                                                deleteLink.setAttribute('title', "deletar");
                                                deleteLink.setAttribute('onClick', "deletarLinhaTabela(id)");
                                                row.id = d.id * 10;
                                                cellId.innerHTML = d.id;
                                                cellNome.innerHTML = d.nome;
                                                cellAula.innerHTML = d.chaula;
                                                cellRelogio.innerHTML = d.chrelogio;
                                                cellTipo.innerHTML = d.tipo;
                                                cellOpcao.appendChild(deleteLink);
                                                cellHidden.appendChild(input);
                                            }
                                        });
                                    }
                                    else {
                                        alert("Item já adicionado na lista");
                                    }
                                }

                                function deletarLinhaTabela(id) {

                                    document.getElementById(id * 10).remove();
                                }

                                function deletarLinhaTabelaEx(id) {

                                    document.getElementById(id * 100).remove();
                                }

                                function deletarLinhaTabelaPes(id) {

                                    document.getElementById(id * 1000).remove();
                                }

                                function listaIDELementosTabela() {
                                    var disciplinasId = [];
                                    var size = document.getElementById("itensSelecionados").rows.length;
                                    var x;
                                    for (var i = 1; i < size; i++) {
                                        x = document.getElementById("itensSelecionados").rows[i].cells[0].innerHTML;
                                        disciplinasId.unshift(x);
                                    }
                                    console.log(disciplinasId);
                                }

                                function containItemTabela(a) {
                                    var disciplinasId = [];
                                    var size = document.getElementById("itensSelecionados").rows.length;
                                    var x;
                                    for (var i = 1; i < size; i++) {
                                        x = document.getElementById("itensSelecionados").rows[i].cells[0].innerHTML;
                                        disciplinasId.unshift(x);
                                    }
                                    return disciplinasId.includes(a);
                                }

                                function containItemTabelaEx(a) {
                                    var extensoesId = [];
                                    var size = document.getElementById("itensSelecionadosEx").rows.length;
                                    var x;
                                    for (var i = 1; i < size; i++) {
                                        x = document.getElementById("itensSelecionadosEx").rows[i].cells[0].innerHTML;
                                        extensoesId.unshift(x);
                                    }
                                    return extensoesId.includes(a);
                                }

                                function containItemTabelaPes(a) {
                                    var pesquisasId = [];
                                    var size = document.getElementById("itensSelecionadosPes").rows.length;
                                    var x;
                                    for (var i = 1; i < size; i++) {
                                        x = document.getElementById("itensSelecionadosPes").rows[i].cells[0].innerHTML;
                                        pesquisasId.unshift(x);
                                    }
                                    return pesquisasId.includes(a);
                                }


                                function addOnComboListEx() {

                                    var extensionesLocal = [];
                                    var extensiones;
                                    

                    <% extensoes.forEach(ext => { %>
                                        extensiones = {
                                            "id": "<%= ext.id %>",
                                                "titulo": "<%= ext.titulo %>",
                                                    "coordenador": "<%= ext.docente.nome%>",
                                                        "inicio": "<%= ext.anoinicio %>",
                                                            "fim": "<%= ext.anofim %>",
                                                                "prorrogado": "<%= ext.prorrogado %>",
                                                                    "ch": "<%= ext.cargahoraria %>",
                        }
                                        extensionesLocal.unshift(extensiones);
                    <% }) %>

                    var el = document.getElementById("listaExtensao");
                                    var tabela = document.getElementById("itensSelecionadosEx").getElementsByTagName('tbody')[0];

                                    if (!containItemTabelaEx(el.value)) {
                                        extensionesLocal.forEach(d => {
                                            if (d.id === el.value) {
                                                var row = tabela.insertRow(0);
                                                row.setAttribute("name", "selecaoextensao");
                                                row.setAttribute("value", d.id);
                                                row.setAttribute("type", "input");
                                                var cellId = row.insertCell(0);
                                                var cellTitulo = row.insertCell(1);
                                                var cellCoordenador = row.insertCell(2);
                                                var cellInicio = row.insertCell(3);
                                                var cellFim = row.insertCell(4);
                                                var cellProrrogado = row.insertCell(5);
                                                var cellCH = row.insertCell(6);
                                                var cellOpcao = row.insertCell(7);
                                                var cellHidden = row.insertCell(8);
                                                var deleteLink = document.createElement("a");
                                                var input = document.createElement("input");
                                                input.setAttribute("name", "selecaoextensao");
                                                input.setAttribute("value", d.id);
                                                input.setAttribute("type", "hidden");
                                                deleteLink.setAttribute('class', "btn btn-danger");
                                                deleteLink.setAttribute('id', d.id);
                                                deleteLink.setAttribute('title', "deletar");
                                                deleteLink.setAttribute('onClick', "deletarLinhaTabelaEx(id)");
                                                row.id = d.id * 100;
                                                cellId.innerHTML = d.id;
                                                cellTitulo.innerHTML = d.titulo;
                                                cellCoordenador.innerHTML = d.coordenador;
                                                cellInicio.innerHTML = d.inicio;
                                                cellFim.innerHTML = d.fim;
                                                cellProrrogado.innerHTML = d.prorrogado;
                                                cellCH.innerHTML = d.ch;

                                                cellOpcao.appendChild(deleteLink);
                                                cellHidden.appendChild(input);
                                            }
                                        });
                                    }
                                    else {
                                        alert("Item já adicionado na lista");
                                    }
                                }

                                function addOnComboListPes() {

                                    var pesquisasLocal = [];
                                    var research;


                                    <% pesquisas.forEach(pes => { %>
                                        research = {
                                            "id": "<%= pes.id %>",
                                                "titulo": "<%= pes.titulo %>",
                                                    "coordenador": "<%= pes.docente.nome%>",
                                                        "inicio": "<%= pes.anoinicio %>",
                                                            "fim": "<%= pes.anofim %>",
                                                                "prorrogado": "<%= pes.prorrogado %>",
                                                                    "ch": "<%= pes.cargahoraria %>",
                                    }
                                        pesquisasLocal.unshift(research);
                                    <% }) %>

                                    var el = document.getElementById("listaPesquisa");
                                    var tabela = document.getElementById("itensSelecionadosPes").getElementsByTagName('tbody')[0];

                                    if (!containItemTabelaPes(el.value)) {
                                        pesquisasLocal.forEach(d => {
                                            if (d.id === el.value) {
                                                var row = tabela.insertRow(0);
                                                row.setAttribute("name", "selecaopesquisa");
                                                row.setAttribute("value", d.id);
                                                row.setAttribute("type", "input");
                                                var cellId = row.insertCell(0);
                                                var cellTitulo = row.insertCell(1);
                                                var cellCoordenador = row.insertCell(2);
                                                var cellInicio = row.insertCell(3);
                                                var cellFim = row.insertCell(4);
                                                var cellProrrogado = row.insertCell(5);
                                                var cellCH = row.insertCell(6);
                                                var cellOpcao = row.insertCell(7);
                                                var cellHidden = row.insertCell(8);
                                                var deleteLink = document.createElement("a");
                                                var input = document.createElement("input");
                                                input.setAttribute("name", "selecaopesquisa");
                                                input.setAttribute("value", d.id);
                                                input.setAttribute("type", "hidden");
                                                deleteLink.setAttribute('class', "btn btn-danger");
                                                deleteLink.setAttribute('id', d.id);
                                                deleteLink.setAttribute('title', "deletar");
                                                deleteLink.setAttribute('onClick', "deletarLinhaTabelaPes(id)");
                                                row.id = d.id * 1000;
                                                cellId.innerHTML = d.id;
                                                cellTitulo.innerHTML = d.titulo;
                                                cellCoordenador.innerHTML = d.coordenador;
                                                cellInicio.innerHTML = d.inicio;
                                                cellFim.innerHTML = d.fim;
                                                cellProrrogado.innerHTML = d.prorrogado;
                                                cellCH.innerHTML = d.ch;

                                                cellOpcao.appendChild(deleteLink);
                                                cellHidden.appendChild(input);
                                            }
                                        });
                                    }
                                    else {
                                        alert("Item já adicionado na lista");
                                    }
                                }

                            </script>