<%- include('../partials/header.ejs') -%>
    <% if(docente.admin===1) {%>
        <%- include('../partials/navbaradmin.ejs') -%>
            <%} else{%>
                <%- include('../partials/navbar.ejs') -%>
                    <% } %>

                        <div class="container">
                            <br>
                            <h2>Planos Cadastrados:</h2>
                            <hr>
                            <a class="btn btn-success" href="/planotrabalho/create">Cadastrar Plano</a>
                            <hr>
                            <h4>Planos do Docente: <%= docente.nome %> - SIAPE: <%= docente.siape%>
                            </h4>
                            <hr>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>SIAPE</th>
                                        <th>Ano do Plano</th>
                                        <th>Semestre</th>
                                        <th>Status</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% planos.forEach(plano=> { %>
                                        <tr>
                                            <th>
                                                <%= plano.id %>
                                            </th>
                                            <th>
                                                <%= docente.nome %>
                                            </th>
                                            <th>
                                                <%= docente.siape %>
                                            </th>
                                            <th>
                                                <%= plano.ano %>
                                            </th>
                                            <th>
                                                <%= plano.semestre %>
                                            </th>
                                            <th>
                                                <%= plano.status %>
                                            </th>
                                            <th>
                                                <% if(plano.editable==1) { %>
                                                    <a class=" btn btn-warning btn-sm"
                                                        href="/planotrabalho/edit/<%= plano.id %>">Editar</a>
                                                    <form action="/planotrabalho/delete" method="post"
                                                        onsubmit="confirmarDelecao(event,this)">
                                                        <input type="hidden" name="id" value="<%= plano.id %>">
                                                        <button class=" btn btn-danger btn-sm m-1">Deletar</button>
                                                    </form>
                                                    <% } %>
                                            </th>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>

                        <%- include('../partials/footer.ejs') -%>


                            <script>
                                function confirmarDelecao(event, form) {
                                    event.preventDefault();
                                    var decision = confirm("Você deseja deletar o registro?");
                                    if (decision) { form.submit(); }
                                }
                            </script>